
.layout {
    width: 100%;
    height: 100vh;
    background-color: #f2f3f5;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.link {
    color: #333;
    margin-right: 64px;
}

.search {
    width: 400px!important;
    margin: 0 32px;
}

.right {
    margin-left: 32px;
    display: flex;
    gap: 16px;
}

.add {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
